<mat-card class="product mat-elevation-z3">
    <mat-card-title class="title">Deletar produto</mat-card-title>
    <mat-card-subtitle class="subtitle">Delete um produto existente
    </mat-card-subtitle>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name" disabled> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço" [(ngModel)]="product.price" name="price" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()" color="primary">DELETAR</button>
    <button mat-raised-button (click)="cancel()" color="warn">CANCELAR</button>

</mat-card>