<mat-card class="product mat-elevation-z3">
    <mat-card-title class="title">Atualizar produto</mat-card-title>
    <mat-card-subtitle class="subtitle">Atualize um produto existente
    </mat-card-subtitle>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">SALVAR</button>
    <button mat-raised-button (click)="cancel()" color="warn">CANCELAR</button>

</mat-card>